<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lisa</title>
    <link rel="stylesheet" href="lib/Framework7-1.5.3/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="lib/Framework7-1.5.3/dist/css/framework7.material.colors.css">
    <link rel="stylesheet" href="lib/iconfont/material-icons.css">
    <link rel="stylesheet" href="lib/vue2-animate.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <div id="app" v-cloak>
      <f7-views>
        <f7-view main>
          <f7-pages navbar-fixed>

            <f7-page name="home">

              <f7-navbar>
                <f7-nav-left>
                  <f7-link icon-material="alarm_on" href="#" data-popup=".reminders-popup" class="open-popup"></f7-link>
                </f7-nav-left>
                 <f7-nav-center>Lisa</f7-nav-center>
                 <f7-nav-right>
                   <f7-link icon-material="settings" href="#" data-popup=".settings-popup" class="open-popup"></f7-link>
                 </f7-nav-right>
              </f7-navbar>

                <!-- BLOC LORSQUE L'APPLI EST CONNECTÉ -->

                <f7-block>

                    <f7-grid>

                      <!-- PLAYER -->
                        <f7-col width="100" tablet-width="25">
                          <f7-card>
                            <f7-card-header style="overflow:hidden">
                              <i> {{ musicStatus.musicTrack }}</i>
                            </f7-card-header>
                            <f7-card-content class="player-card">
                              <f7-link icon-material="skip_previous" href="#" @click="previous" class="no-ripple"></f7-link>

                              <f7-link v-bind:icon-material="musicStatus.musicPlaying ? 'pause' : 'play_arrow'" href="#" @click="togglePlay" class="no-ripple"></f7-link>

                              <f7-link icon-material="skip_next" href="#" @click="next" class="no-ripple"></f7-link>


                              <f7-link v-bind:class="{ active : musicStatus.musicRepeat }" icon-material="repeat" href="#" @click="toggleRepeat" class="no-ripple"></f7-link>

                              <f7-link v-bind:class="{ active : musicStatus.musicShuffle }" icon-material="shuffle" href="#" @click="toggleShuffle" class="no-ripple"></f7-link>

                              <f7-link icon-material="stop" href="#" @click="stop" class="no-ripple"></f7-link>

                            </f7-card-content>
                          </f7-card>
                        </f7-col>


                        <!-- WEATHER -->
                      <f7-col width="100" tablet-width="25" v-if="weather">
                        <f7-card>
                          <f7-card-content>

                            <f7-grid>
                              <f7-col width="40">
                                <img v-bind:src="'lib/weather_icons/' + weather.weather[0].icon +'.png'" />
                              </f7-col>

                              <f7-col width="60">

                                  <h3><b>{{weather.name | capitalize}}</h3><h2>{{weather.main.temp | convert }}&deg; {{settings.weather.units | degreesUnits}}</b></h2>
                                  <p> {{weather.weather[0].description}}
                                  <br>
                                  Min : {{weather.main.temp_min | convert}}&deg;
                                  Max : {{weather.main.temp_max | convert}}&deg;
                              </p>
                              </f7-col>
                              <p style="color: grey;font-style: italic">
                                {{ $t("text.weather_legend") }} : {{ weather.dt | momentUnix }}
                              </p>
                            </f7-grid>


                          </f7-card-content>
                        </f7-card>
                      </f7-col>



                    <!-- ALARM -->
                      <f7-col width="100" tablet-width="25">
                        <f7-card>
                          <f7-card-content>

                            <f7-list form>

                              <f7-list-item>
                                {{ $t('text.alarm') }}
                                <f7-input type="switch" v-model.lazy="settings.alarm.enabled"></f7-input>
                              </f7-list-item>

                              <f7-list-item v-if="settings.alarm.enabled">
                                <f7-input type="time" v-model.lazy="alarmTime"></f7-input>
                              </f7-list-item>

                            </f7-list>

                          </f7-card-content>
                        </f7-card>
                      </f7-col>

                    </f7-grid>



                </f7-block>

                <f7-fab color="pink" @click="refresh">
                  <f7-icon material="refresh"></f7-icon>
                </f7-fab>




            </f7-page>

          </f7-pages>
        </f7-view>

<!-- POP-UPS -->

        <!-- RAPPELS -->
        <f7-popup class="popup reminders-popup">
          <f7-view>
            <f7-pages navbar-fixed>
              <f7-page>
                <f7-navbar>
                  <f7-nav-center>{{ $t('text.reminders_title') }}</f7-nav-center>
                  <f7-nav-right>
                    <f7-link icon-material="close" href="#" class="close-popup"></f7-link>
                  </f7-nav-right>
                </f7-navbar>

                <f7-list form>
                  <f7-list-item>
                    <f7-label>{{ $t('text.reminders_select_date') }}</f7-label>
                    <f7-input type="date" v-model.lazy="inputDate"></f7-input>
                    <f7-label>{{ $t('text.reminders_select_time') }}</f7-label>
                    <input type="time" v-model.lazy="inputTime">
                  </f7-list-item>
                  <f7-list-item>
                    <f7-label floating>{{ $t('text.reminders_text_read') }}</f7-label>
                    <f7-input type="textarea" maxlength="190" v-model.lazy="inputReminderText"></f7-input>
                    <f7-button color="green" raised fill @click="addReminder" v-if="reminderFormFilled">{{ $t('text.reminders_add') }}</f7-button>

                  </f7-list-item>
                </f7-list>

                <f7-block>
                    <f7-card v-for="(reminder, index) in settings.reminders">
                      <f7-list>
                        <f7-list-item>
                          {{ settings.reminders[index].date + ' ' +
                          settings.reminders[index].time | momentCal}}
                          <f7-button color="red" icon-material="delete" @click="deleteReminder(index)"></f7-button>
                        </f7-list-item>
                        <f7-list-item>
                          <f7-input type="textarea" v-model="settings.reminders[index].text" placeholder="Texte à lire" maxlength="190"></f7-input>
                        </f7-list-item>
                      </f7-list>
                    </f7-card>
                </f7-block>

              </f7-page>
            </f7-pages>
          </f7-view>
        </f7-popup>

        <!-- SETTINGS -->

        <f7-popup class="popup settings-popup">
          <f7-view>
            <f7-pages navbar-fixed>
              <f7-page>
                <f7-navbar>
                   <f7-nav-center>{{ $t('text.settings_title') }}</f7-nav-center>
                   <f7-nav-right>
                     <f7-link icon-material="close" href="#" class="close-popup"></f7-link>
                   </f7-nav-right>
                </f7-navbar>

                <f7-block-title>{{ $t('text.settings_general') }}</f7-block-title>
                <f7-block>

                <f7-list tablet-inset form>
                  <f7-list-item>
                    <f7-label>{{ $t('text.settings_language') }}</f7-label>
                    <f7-input type="select" v-model.lazy="appLanguage">
                      <option selected value="en">English</option>
                      <option value="fr">Français</option>
                    </f7-input>
                  </f7-list-item>
                  <f7-list-item>
                    <f7-label>{{ $t('text.settings_voice_language') }}</f7-label>
                    <f7-input type="select" v-model.lazy="settings.voiceLanguage">
                      <option value="fr">Français</option>
                      <option value="en">English</option>
                    </f7-input>
                    <f7-list-item>
                      <f7-icon slot="media" material="music_note"></f7-icon>
                      <f7-label>{{ $t('text.settings_music') }}</f7-label>
                      <f7-input type="switch" v-model.lazy="settings.alarm.music_onwake"></f7-input>
                    </f7-list-item>
                  </f7-list-item>

                </f7-list>
              </f7-block>

            <f7-block-title>{{ $t('text.settings_mail') }}</f7-block-title>
            <f7-block>

            <f7-list tablet-inset form>

              <f7-list-item>
                <f7-icon slot="media" material="check"></f7-icon>
                <f7-label>{{ $t('text.settings_mail_enable') }}</f7-label>
                <f7-input type="switch" v-model.lazy="settings.mail.enabled"></f7-input>
              </f7-list-item>

              <f7-list-item>
                <f7-icon slot="media" material="person"></f7-icon>
                <f7-label>{{ $t('text.settings_mail_username') }}</f7-label>
                <f7-input type="email" v-model.lazy="settings.mail.username"></f7-input>
              </f7-list-item>

            </f7-list>
          </f7-block>


            <f7-block-title>{{ $t('text.settings_weather') }}</f7-block-title>

            <f7-block>
            <f7-list tablet-inset form>
              <f7-list-item>
                <f7-icon slot="media" material="vpn_key"></f7-icon>
                <f7-label>{{ $t('text.settings_weather_api') }}</f7-label>
                <f7-input type="text" v-model.lazy="settings.weather.weather_id"></f7-input>
              </f7-list-item>

              <f7-list-item>
                <f7-icon slot="media" material="place"></f7-icon>
                <f7-label>{{ $t('text.settings_weather_city') }}</f7-label>
                <f7-input type="text" v-model.lazy="settings.weather.cityID"></f7-input>
              </f7-list-item>

              <f7-list-item>
                <f7-icon slot="media" material="language"></f7-icon>
                <f7-label>{{ $t('text.settings_weather_units') }}</f7-label>
                <f7-input type="select" v-model.lazy="settings.weather.units">
                  <option value="metric">Celsius</option>
                  <option value="imperial">Fahrenheit</option>
                </f7-input>
              </f7-list-item>
            </f7-list>

            <p>
              <f7-button color="red" @click="stopLisa" raised fill>{{ $t('text.settings_stop') }}</f7-button>
            </p>
            <p>
              <f7-button color="green" @click="shutdown" raised fill>{{ $t('text.settings_shutdown') }}</f7-button>
            </p>
          </f7-block>
          </f7-page>
        </f7-pages>

        </f7-view>
        </f7-popup>
      </f7-views>

      <!--IF NO ADDRESS -->

      <f7-login-screen>
        <f7-view>
          <f7-pages>
            <f7-page login-screen>
              <f7-login-screen-title>Lisa</f7-login-screen-title>
              <f7-block>
                <p>{{ $t('text.login_text') }}</p>
                <f7-list>
                  <f7-list-item>
                    <f7-input v-model.lazy="address" type="text" placeholder="ex : 192.168.0.10:8000"/>
                  </f7-list-item>
                  <f7-list-item>
                    <transition name="fade">
                      <f7-button v-if="address" @click="connect" >{{ $t('text.login_connect') }}</f7-button>
                    </transition>
                  </f7-list-item>
                </f7-list>
              </f7-block>
            </f7-page>
          </f7-pages>
        </f7-view>
      </f7-login-screen>

    </div>
    <!-- <script type="text/javascript" src="cordova.js"></script> -->
    <script type="text/javascript" src="lib/Framework7-1.5.3/dist/js/framework7.min.js"></script>
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/Framework7-Vue-0.8.5/dist/framework7-vue.js"></script>
    <script type="text/javascript" src="lib/socket.io.js"></script>
    <script type="text/javascript" src="lib/moment-with-locales.js"></script>
    <script type="text/javascript" src="lib/vue-i18n.js"></script>
    <!-- build:js js/main.min.js-->
    <script type="text/javascript" src="js/translations.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/connect.js"></script>
    <!-- endbuild -->
  </body>
</html>
